.page-signUp .list-block
{
  margin: inherit;
}

.page-signUp .list-block ul
{
  position: inherit;
}

.page-signUp .content-block a
{
  margin-bottom: 16px;
}

.page-signUp .logo
{
  margin-top: 16px;
  margin-bottom: 16px;
}
